<!DOCTYPE HTML>
<html>
	<head>
		<title>Wildly Cheap Flights | Wild Flights</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link rel="stylesheet" href="../static/assets/css/main.css" />
	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">

			<!-- Banner -->
				<section id="banner">
					<h2>Thank you for subscribing!</h2>
                    <h3>Home</h3>

                </section>
				<section id="cta">

					<h2>Wildly Cheap Flights</h2>
					<p>Created by Irina Soldatenkova</p>
					<a href="https://github.com/IrinaVi", target="_blank"><img src="../static/assets/css/images/github-logo.png" width="40" height="40"></a>
					<a href="https://www.linkedin.com/in/irina-soldatenkova-07a635137/", target="_blank"><img src="../static/assets/css/images/linkedin-logo.png" width="40" height="40"></a>

				</section>
		</div>

	</body>
</html>